

<div *ngIf="auth.user | async as user; else showLogin">
    <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="https://github.com/Mazen-eng/Pencil-Assignment" target="_blank">Pencil assignment Eng/Mohamed Zoweil, Made with ❤️</a>
    <button class="btn btn-outline-info my-2 my-sm-0" (click)="logout()"> Logout</button>
  </nav>
  <h1 class="h3 mb-3 font-weight-normal" style="margin-top: 90px">
    Hello {{ user.displayName }}!
  </h1>
  <editor-component></editor-component>


</div>
<form class="form-signin">
  <ng-template #showLogin>
    <h1
      class="h3 mb-3 font-weight-normal"
      style="margin-top: 100px; margin-bottom: 50px"
    >
      Please<br />
      Sign In
    </h1>
    <button
      class="btn btn-outline-primary"
      style="width: 300px; margin: 20px auto"
      (click)="login()"
    >
      Login with Google
    </button>
  </ng-template>
</form>
